// SASS Variables
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$primary-color-hover: #333aaa;
$bg-color : lightGreen;
$nav-link-color: red;

$name : "brainmentors-logo";
$img-height : 12;