@import "variables";
@import "mixins";

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $bg-color;
}

h1 {
    color: $primary-color;
}

#header {
  @include positions(fixed, 0px);
  @include text-alignment(text-align, center);
  background-color: #fff;
  width: 100%;
  padding: space_calc(4,3) * 1px;
}

// Nested Rules
#main-navigation {
  ul {
    @include list-params;
    display: flex;
    justify-content: space-between;
    li {
      text-align: center;
      margin: 0px 5px;
      width: 100%;
      position: relative;
      a {
        color: $nav-link-color;
        text-decoration: none;
        font-size: 20px;
        padding: 10px;
        background-color: $primary-color;
        display: block;
        &:hover {
          background-color: $primary-color-hover;
        }
        &::after {
          content: "";
          position: absolute;
          border: 7px solid #fff;
          border-color: #fff transparent transparent;
          top: 20px;
          right: 70px;
        }
      }
    }
  }
}

#main-navigation {
  .dropdown {
    position: absolute;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
    transform: scale(1,0);
    transform-origin: top;
    ul {
      display: block;
      li {
        margin: 0px;
        a {
          color: #fff;
        }
      }
    }
  }
}

#main-navigation {
  ul {
    li {
      &:hover {
        .dropdown {
          transform: scale(1,1);
        }
      }
    }
  }
}

#banner {
  @include img-placement(url("https://img1.hscicdn.com/image/upload/f_auto,t_ds_wide_w_640,q_50/lsci/db/PICTURES/CMS/341200/341260.6.jpg"));
  margin-top: 200px;
  margin-bottom: 50px;
    font: {
      family: $font-stack;
      size: 20px;
      weight: 600;
      style: italic;
  }
}

// #about {
//   @extend #banner;
// }

#about ul {
  @include list-params;
  @include text-alignment(text-align, center);
}

div.#{$name} img {
  width: 20%;
}

#banner p {
  @if ($img-height > 5 and $img-height < 15) {
      color: red;
      @include text-alignment(text-align, justify);
  }
}

#about {
  @include img-placement(url("https://images.news18.com/ibnlive/uploads/2022/06/dinesh-karthik-16555313293x2.png"), 100%, 100%);
}